{:paths ["src" "resources"]
 :deps {com.pitch/uix.core {:mvn/version "1.4.8"}}
 :aliases
 {:dev {:extra-paths ["test" "examples" "benchmark"]
        :extra-deps {thheller/shadow-cljs {:mvn/version "2.28.20"}
                     binaryage/devtools {:mvn/version "0.9.7"}
                     devcards/devcards {:mvn/version "0.2.5"}
                     reagent/reagent {:mvn/version "0.8.1"}}}}}
