;; shadow-cljs configuration
{:source-paths
 ["src" "test" "examples"]

 :nrepl {:port 8777}

 :dependencies
 [[binaryage/devtools "0.9.7"]
  [devcards "0.2.5"]]

 :builds
 {:workshop {:target :browser
             :output-dir "public/workshop/js"
             :asset-path "/js"
             :modules {:main {:entries [workshop]}}
             :compiler-options {:devcards true}
             :devtools {:http-root    "public/workshop"
                        :http-port    8700
                        :preloads     [devtools.preload]}}
  :test     {:target    :browser-test
             :test-dir  "public/test/js"
             :ns-regexp "-test$"
             :devtools  {:http-port 8021
                         :http-root "public/test/js"}}

  :ci       {:target :karma
             :output-to  "target/ci.js"
             :ns-regexp  "-test$"}}}}
